.o_natura_preview {
    max-width: 320px;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    align-self: flex-start;
}

.o_natura_preview .o_field_image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background: #fff;
    display: block;
}

.o_natura_preview .o_natura_preview_caption {
    margin-top: 6px;
    font-size: 12px;
}
